.header {
    text-align: center;
    padding: 3rem 1.5rem;
    background-color: blue;
    color: white;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.header-title {
    font-size: clamp(1.5rem, 5vw, 2.8rem);
    font-weight: 700;
    margin-bottom: 1rem;
    /* color: #2a1a5e; */
}

.header-desc {
    font-size: clamp(1rem, 3vw, 1.3rem);
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
    color: #000342;
}